# shellcheck shell=bash
# use flake .#dev
use flake .#shell

export AM_ROOT="$HOME"
export AM_STATIC="$AM_ROOT/.config/static"

export RUST_LOG=activation_manager=trace
export RUST_BACKTRACE=1
export COLORBT_SHOW_HIDDEN=0
