use flake .#shell
# order to shadow env with dev
use flake .#dev

my_python="$(which python3)"
ln -vsfT "$my_python" "$PWD/python3"

PATH_add "$PWD"

export AM_ROOT="$HOME"
export AM_STATIC="$AM_ROOT/.config/static"